h3 Devices

.row
	.col-xs-6
		.list-group
			a(ng-repeat="device in devices", href="#/devices/{{device._id}}", ng-class="{active: currentDevice._id == device._id}").list-group-item
				h4.list-group-item-heading {{ device.phoneNumber | phoneNumber }}
				p.list-group-item-text
					span(ng-show="device.property != null")
						span.label.label-primary ASSIGNED
						|  {{ device.property.address }}
					span(ng-show="device.property == null")
						span.label.label-default UNASSIGNED
	.col-xs-6
		form.device-details(ng-show="currentDevice != null")
			h3.center {{ currentDevice.phoneNumber | phoneNumber }}
			div(ng-show="currentDevice.property != null")
				p.center Current assigned to: 
					a(href="#/properties/{{currentDevice.property._id}}") {{ currentDevice.property.address }}
				p
					div(uib-dropdown, dropdown-append-to-body)
						button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", uib-dropdown-toggle).btn.btn-success.btn-lg.btn-block.dropdown-toggle
							| Assign to a different property 
							span.caret
						ul.dropdown-menu.uib-dropdown-menu
							li(ng-repeat="prop in properties", ng-class="{active: currentDevice.property && prop._id == currentDevice.property._id}")
								a(href="", ng-click="events.assignCurrentDeviceTo($index)") {{ prop.address }}
				p
					button(type="button", ng-click="events.unassign()").btn.btn-default.btn-lg.btn-block
						| Unassign from the current property
			div(ng-show="currentDevice.property == null")
				p
					div(uib-dropdown, dropdown-append-to-body)
						button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", uib-dropdown-toggle).btn.btn-success.btn-lg.btn-block.dropdown-toggle
							| Assign to a property 
							span.caret
						ul.dropdown-menu.uib-dropdown-menu
							li(ng-repeat="prop in properties", ng-class="{active: currentDevice.property && prop._id == currentDevice.property._id}")
								a(href="", ng-click="events.assignCurrentDeviceTo($index)") {{ prop.address }}
