.row
	.col-xs-12
		h1 What are people listening to?

		ol.breadcrumb
			li.active Live
		
		p(ng-repeat="show in live")
			a(href="/{{show.band}}/{{show.year}}/{{show.month}}/{{show.day}}-{{show.showVersion}}/{{show.slug}}") {{show.title}}
			|  from 
			a(href="/{{show.band}}/{{show.year}}/{{show.month}}/{{show.day}}-{{show.showVersion}}") {{show.year}}/{{show.month}}/{{show.day}}
			|  by 
			a(href="/{{show.band}}") {{show.bandName}}
