form.form-horizontal(ng-submit="events.signIn()")
  div.alert.alert-danger(ng-show="hasErrors", role="alert", ng-repeat="error in errors")
    | {{ error }}
  
  .form-group
    label.col-sm-4.control-label(for="phoneNumber") Phone Number
    .col-sm-6
      input#phoneNumber.form-control(name="phoneNumber", type="tel", skip-util-script-download, international-phone-number, only-countries="us", placeholder="Phone Number", ng-model="phoneNumber", value="+1")
  .form-group
    label.col-sm-4.control-label(for="password") Password
    .col-sm-6
      input#password.form-control(type="password", placeholder="Password", ng-model="password")
  .form-group
    .col-sm-offset-4.col-sm-6
      button.btn.btn-primary(type="submit") Sign in
  
  | {{events.focusInput("#phoneNumber")}}