.row
	.col-xs-12
		h1 {{year.year}} 
			small {{year.shows.length}} shows, {{year.duration | amDurationFormat:'seconds'}}

		ol.breadcrumb
			li
				a(href="/") Artists
			li
				a(href="/{{$root.currentArtist.slug}}") {{$root.currentArtist.name}}
			li.active {{year.year}}
		table.table.table-striped.table-hover.sortable
			thead
				th 
				th(data-defaultsort='asc') Date
				th Sources
				th Duration
				th Avg. Rating
				th Reviews
				th Venue
			tbody
				tr(ng-repeat="show in year.shows")
					include ./show_cells_partial.jade
