<!doctype html>
<html lang="" ng-app="root">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Iguana Web">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relisten.net</title>

    <!-- Android fa-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="fa" sizes="196x196" href="images/touch/chrome-touch-fa-196x196.png">

    <!-- iOS fa-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Relisten">

    <!-- Windows fa-->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-fa-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' type='text/css'>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-controller="index" class="vbox viewport">

    <div class="header hbox">
      <div class="header-logo">
        <img class="header-logo-img" src="/images/Relisten iOS App-AppStore.png">
        <div class="header-logo-text">Relisten</div>
      </div>

      <div class="header-artist-wrapper">
        <div class="header-artist">{{artist}}</div>
      </div>
    </div>

    <div class="player-hero hbox" ng-class="{hasContent: title}">
      <div class="player-hero-first-third vbox">
        <div class="vertical-spacer"></div>

        <div class="player-main-controls-wrapper">
          <div class="player-main-controls">
            <div class="player-fa">
              <i class="fa-fast-backward fa" id="fast-backward"></i>
            </div>
            <div class="player-fa-circle-play player-fa" ng-show="!audio1.playing" ng-click="playButton()">
              <i class="fa-play fa" id="play"></i>
            </div>
            <div class="player-fa-circle-pause player-fa" ng-show="audio1.playing" ng-click="playButton()">
              <i class="fa-pause fa" id="pause"></i>
            </div>
            <div class="player-fa">
              <i class="fa-fast-forward fa" id="fast-forward"></i>
            </div>
          </div>
        </div>
      </div>

      <audio media-player="audio1" data-playlist="playlist1">
        <source src="" id="audio1-src" type="audio/ogg">
      </audio>

      <div class="player-hero-second-third vbox">
        <div class="player-hero-text">
          <p class="player-hero-song">{{title}} <small ng-if="title"><small><em>by {{artist}}</em></small></small></p>
          <p class="player-hero-venue">{{venue}}</p>
        </div>

        <div class="player-progress-bar-bottom">
          <div class="player-progress-bar-wrapper">
            <div class="player-progress-bar">
              <div class="player-progress-bar-filled" ng-style="{width: current_time_percentage}"></div>
              <div class="player-progress-bar-knob" ng-style="{left: current_time_percentage}"></div>
            </div>
          </div>
          <div class="player-time" ng-show="audio1.playing">{{current_time}}/{{total_time}}</div>
          <div class="player-time" ng-show="!audio1.playing">0:00/0:00</div>
        </div>
      </div>

      <div class="player-hero-last-third vbox">
        <div class="vertical-spacer"></div>

        <div class="player-secondary-controls">
          <i class="fa-volume-up fa"></i>
          <div class="volume-bar-wrapper">
            <div class="volume-bar">
              <div class="volume-bar-filled" ng-style="{width: current_volume_percentage}"></div>
              <div class="volume-bar-knob" ng-style="{left: current_volume_percentage}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="">
        <div class="menu">
          <div class="menu-list">
            <ul>
              <li class="selected">Browse</li>
              <li>Queue</li>
              <li>Top Rated</li>
              <li>Venues</li>
              <li>About</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="list-group-collection main hbox space-between">
      <div class="disp-col vbox col-artists-list">
        <h3 class="list-group-item list-group-header">Artists</h3>
        <ul class="list-group artist-list">
          <li ng-repeat="artist in artists">
            <a class="list-group-item" ng-click="getYears(artist, $event)">
              {{artist.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="disp-col vbox col-years-list">
        <h3 class="list-group-item list-group-header">Years</h3>
        <ul class="list-group year-list">
          <li ng-repeat="year in years">
            <a class="list-group-item" ng-click="getShows(year, $event)">{{year.year}}</a>
          </li>
        </ul>
      </div>

      <div class="disp-col vbox col-shows-list">
        <h3 class="list-group-item list-group-header">Shows</h3>
        <ul class="list-group show-list">
          <li ng-repeat="show in shows">
            <a class="list-group-item" ng-click="getRecordings(show, $event)">
              {{show.display_date}}
            </a>
          </li>
        </ul>
      </div>
      <div class="disp-col vbox col-recording-list">
        <h3 class="list-group-item list-group-header">Recordings</h3>
        <ul class="list-group recording-list">
          <li ng-repeat="recording in recordings">
            <a class="list-group-item" ng-click="playSong(recording, $event)">
              <span class="pull-left track">{{recording.track}}</span>
              <span class="pull-right duration">{{recording.length | humanizeTime:true}}</span>
              {{recording.title}}
            </a>
          </li>
        </ul>
      </div>

      <div class="right-sidebar">
        <div class="sources">
          <div class="sources-header">Source Info</div>
          <h4>Source</h4>
          <p>{{source.source}}</p>
          <h4>Lineage</h4>
          <p>{{source.lineage}}</p>
          <h4>Transferer</h4>
          <p>{{source.transferer}}</p>
          <h4>Taper</h4>
          <p>{{source.taper}}</p>

          <div class="sources-header">Description</div>
          <p class="preformatted">{{source.description}}</p>
        </div>
      </div>
    </div>

    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="scripts/angular-media-player.min.js"></script>
    <script src="scripts/root.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
