<!doctype html>
<html lang="" ng-app="root">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Iguana Web">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iguana Web</title>

    <!-- Android fa-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="fa" sizes="196x196" href="images/touch/chrome-touch-fa-196x196.png">

    <!-- iOS fa-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Iguana Web">

    <!-- Windows fa-->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-fa-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>

    <div class="sidebar sidebar-left">
      <div class="sidebar-logo"></div>
      <ul class="sidebar-nav sidebar-top">
          <li class="sidebar-nav-link">
            <span class="fa fa-search sidebar-fa"></span>
            <a href="#">Browse</a>
          </li>
          <li class="sidebar-nav-link">
            <span class="fa fa-bars sidebar-fa"></span>
            <a href="#">Playlists</a>
          </li>
      </ul>
      <ul class="sidebar-nav sidebar-bottom">
          <li class="sidebar-nav-link">
            <span class="fa fa-user sidebar-fa"></span>
            <a href="#">Profile</a>
          </li>
          <li class="sidebar-nav-link">
            <span class="fa fa-sign-out sidebar-fa"></span>
            <a href="#">Logout</a>
          </li>
      </ul>
    </div>

    <div class="content" ng-controller="index">
      <div class="row">
          <ul class="list-group artist-list">
            <li class="list-group-item list-group-header active">Artists</li>
            <a href="#" ng-repeat="artist in artists"><li class="list-group-item">{{artist.name}}</li></a>
          </ul>

          <ul class="list-group year-list">
            <li class="list-group-item list-group-header active">Year</li>
            <a href="#" ng-repeat="year in years"><li class="list-group-item">{{year}}</li></a>
          </ul>

      </div>
    </div>

    <div class="sidebar sidebar-right">
      <div class="player">
        <img class="player-song-album-art" src="/images/album-art.jpg">
        <div class="player-song-title">In the Bliss</div>
        <div class="player-song-artist">Lotus</div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 9%;"></div>
        </div>
        <div class="player-song-times">
          <div class="player-song-current-time">0:20</div>
          <div class="player-song-total-time">3:44</div>
        </div>
        <div class="fas">
          <i class="fa-fast-backward fa player-fa" id="fast-forward"></i>
          <i class="fa-play fa player-fa" id="play"></i>
          <i class="fa-pause fa player-fa" id="pause" style="display:none"></i>
          <i class="fa-fast-forward fa player-fa" id="fast-backward"></i>
        </div>
      </div>
    </div>


    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/root.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
