
<h3>Devices</h3>
<div class="row">
  <div class="col-xs-6">
    <div class="list-group"><a ng-repeat="device in devices" href="#/devices/{{device._id}}" ng-class="{active: currentDevice._id == device._id}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ device.phoneNumber | phoneNumber }}</h4>
        <p class="list-group-item-text"><span ng-show="device.property != null"><span class="label label-primary">ASSIGNED</span> {{ device.property.address }}</span><span ng-show="device.property == null"><span class="label label-default">UNASSIGNED</span></span></p></a></div>
  </div>
  <div class="col-xs-6">
    <form ng-show="currentDevice != null" class="device-details">
      <h3 class="center">{{ currentDevice.phoneNumber | phoneNumber }}</h3>
      <div ng-show="currentDevice.property != null">
        <p class="center">Current assigned to: <a href="#/properties/{{currentDevice.property._id}}">{{ currentDevice.property.address }}</a></p>
        <p>
          <div uib-dropdown="uib-dropdown" dropdown-append-to-body="dropdown-append-to-body">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle="uib-dropdown-toggle" class="btn btn-success btn-lg btn-block dropdown-toggle">Assign to a different property <span class="caret"></span></button>
            <ul class="dropdown-menu uib-dropdown-menu">
              <li ng-repeat="prop in properties" ng-class="{active: currentDevice.property &amp;&amp; prop._id == currentDevice.property._id}"><a href="" ng-click="events.assignCurrentDeviceTo($index)">{{ prop.address }}</a></li>
            </ul>
          </div>
        </p>
        <p>
          <button type="button" ng-click="events.unassign()" class="btn btn-default btn-lg btn-block">Unassign from the current property</button>
        </p>
      </div>
      <div ng-show="currentDevice.property == null">
        <p>
          <div uib-dropdown="uib-dropdown" dropdown-append-to-body="dropdown-append-to-body">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle="uib-dropdown-toggle" class="btn btn-success btn-lg btn-block dropdown-toggle">Assign to a property <span class="caret"></span></button>
            <ul class="dropdown-menu uib-dropdown-menu">
              <li ng-repeat="prop in properties" ng-class="{active: currentDevice.property &amp;&amp; prop._id == currentDevice.property._id}"><a href="" ng-click="events.assignCurrentDeviceTo($index)">{{ prop.address }}</a></li>
            </ul>
          </div>
        </p>
      </div>
    </form>
  </div>
</div>