
<div class="row">
  <div class="col-xs-12">
    <h1>What are people listening to?</h1>
    <ol class="breadcrumb">
      <li class="active">Live</li>
    </ol>
    <p ng-repeat="show in live"><a href="/{{show.band}}/{{show.year}}/{{show.month}}/{{show.day}}-{{show.showVersion}}/{{show.slug}}">{{show.title}}</a> from <a href="/{{show.band}}/{{show.year}}/{{show.month}}/{{show.day}}-{{show.showVersion}}">{{show.year}}/{{show.month}}/{{show.day}}</a> by <a href="/{{show.band}}">{{show.bandName}}</a></p>
  </div>
</div>