
<div ng-if="$root.currentArtist" class="row">
  <div class="col-xs-12">
    <h1>Today in {{$root.currentArtist.name}}'s History</h1>
    <ol class="breadcrumb">
      <li><a href="/">Artists</a></li>
      <li><a href="/{{$root.currentArtist.slug}}">{{$root.currentArtist.name}}</a></li>
      <li class="active">Today</li>
    </ol>
    <ul>
      <li ng-repeat="show in current_artist.shows"><a href="/{{current_artist.slug}}/{{show.year}}/{{show.month}}/{{show.day}}">{{show.title}}</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Today in History</h1>
    <ol class="breadcrumb">
      <li class="active">Today</li>
    </ol>
    <div>
      <div ng-repeat="artist in today_artists" class="panel panel-default tih-panel">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/{{artist.slug}}">{{artist.name}}</a></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="show in artist.shows"><a href="/{{artist.slug}}/{{show.year}}/{{show.month}}/{{show.day}}">{{show.title}}</a></li>
          </ul>
        </div>
      </div>
    </div><br class="clear"/>
  </div>
</div>