// http://getbootstrap.com/getting-started/#support-ie10-width
@-ms-viewport       { width: device-width; }

body
  padding 80px 0

.min-width-160
  min-width 160px

.min-width-90
  min-width 90px

.block
  display block
  
.nopadding
  padding 0 !important
  
  .block
    padding 8px

footer
  text-align center

.reviews
	list-style none
	padding 0

	li
		list-style none
		margin-bottom 30px

	h4
		small
			float right
			padding-top 2px

	cite
		font-style italic

	blockquote
		border 0
		padding 0
		margin 0

.prewrap
  white-space pre-wrap

#sources-menu
  
  small
    display block
    margin-right 100px
    white-space normal
    
    color black

  .active small
    color white
    
.center
  text-align center
  padding 7px 0

#playbar
  min-height 0px
  padding 15px 0
  
  input[type=range]
    margin-top 3px
  
  .player
    display block
    
    .btn
      float none
      
      &:hover
  
  .filler
    width 81%
    left -4px
    
  .endcap
    width 9%
        
    &:last-child
      left -8px
  
  .btn
    line-height 20px
    min-height 34px
  
  .no-hover:hover
    
  
  .center
    padding inherit

.small-caps
  text-transform uppercase
  font-size 80%
