doctype html
html(lang='en', ng-app="relisten")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")
    
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/assets/img/favicon.ico')
    
    title Relisten
    
    // build:css assets/app.css 
    link(rel='stylesheet', type='text/css', href='/assets/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/app.css')
    // endbuild 
    
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
          
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .collapse.navbar-collapse
          .navbar-header
            a.navbar-brand(href="/")
              img(alt="Relisten", src="/assets/img/relisten-circular-logo.png", style="margin-top: -5px")
            a.navbar-brand(href="/") All Artists
          ul.nav.navbar-nav
            li.active(ng-show="$root.currentArtist")
              a(href='/{{$root.currentArtist.slug}}') {{$root.currentArtist.name}} 
            li(ng-show="$root.currentArtist")
              a(href='/{{$root.currentArtist.slug}}') Years
            li(ng-show="$root.currentArtist")
              a(href='/{{$root.currentArtist.slug}}/venues') Venues
            li(ng-show="$root.currentArtist")
              a(href='/{{$root.currentArtist.slug}}/top') Top Shows
          form.navbar-form.navbar-right(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Live
            li
              a(href='#') Today
            li
              a(href='#') About

    .container
      section#content(ng-view)
      
      footer.footer
        p © Alec Gorge 2015

    nav.navbar.navbar-default.navbar-fixed-bottom#playbar
      .container
        include ./assets/partials/playbar.jade        
      
    // build:js assets/app.js 
    script(src='/assets/components/jquery/dist/jquery.js')
    script(src='/assets/components/moment/moment.js')
    script(src='/assets/components/angular/angular.js')
    script(src='/assets/components/angular-resource/angular-resource.js')
    script(src='/assets/components/angular-moment/angular-moment.js')
    script(src='/assets/components/angular-route/angular-route.js')
    script(src='/assets/components/angular-sanitize/angular-sanitize.js')
    script(src='/assets/components/angular-bootstrap/ui-bootstrap.js')

    script(src='/assets/js/Application.js')
    // endbuild 
