.fas {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-top: 250px;
}

.fas2 {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.fa {
  font-size: 5em;
  margin: 0 30px;
}

.ho {
  font-size: 2em;
  margin: 0 20px;
}

.hello {
  float: right;
  background-color: white;
  font-size: 2em;
}
