* {
  margin: 0;
  padding: 0;
}

body {
  color: #1c1c1f;
  font-family: 'Open Sans', sans-serif;
}

.row {
  margin: 0 !important;
}

.header {
  /* position: absolute; */
  /* top: 0; */
  height: 60px;
  width: 100%;
}

.header-logo {
  flex: 3;
}

.header-logo-img {
  float: left;
  height: 50px;
  margin: 5px 0 0 25px;
}

.header-logo-text {
  float: left;
  margin-top: 17px;
  margin-left: 10px;
  font-size: 1.2em;
}

.header-artist-wrapper {
  flex: 16;
  margin: 5px 25px;
  padding: 0 25px;
  border-left: 1px solid rgba(0, 0, 0, .25);
}

.header-artist {
  margin-top: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: rgba(0, 0, 0, .75);
}

.player-hero-first-third, .player-hero-last-third {
  flex: 3;
}

.player-hero-second-third {
  flex: 12;
}

.vertical-spacer, .player-hero-text {
  flex: 1;
}

/******************************************************************************/

.player-main-controls-wrapper {
  padding-top: 15px;
}

.player-main-controls-wrapper, .player-progress-bar-bottom, .player-secondary-controls {
  background-color: rgba(0, 0, 0, .25);
  height: 50px;
}

.player-main-controls {
  text-align: center;
}

.player-fa {
  display: inline-block;
  margin: 0 20px;
  width: 25px;
  height: 25px;
}

.player-fa-circle-play {
  margin-top: -2px;
  font-size: .9em;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 4px;
  border: 1px solid #FFF;
}

.player-fa-circle-pause {
  margin-top: -2px;
  font-size: .9em;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 2px;
  border: 1px solid #FFF;
}

/******************************************************************************/

.player-hero {
  color: #FFF;
  height: 150px;
  background-image: url('../images/sunset-bg.png');
  background-size: cover;
  background-position: 0 180px;
}

.player-progress-bar-bottom {
  padding-top: 17px;
}

.player-hero-text, .player-progress-bar-bottom {
  padding: 0 25px;
}

.player-hero-text {
  margin-top: 25px;
}

.player-hero-song {
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 3px;
}

.player-hero-venue {
  font-weight: bold;
}

/* this is to give the progress bar more height, so it's easier to click */
.player-progress-bar-wrapper {
  display: inline-block;
  line-height: 50px;
  width: 90%;
}

.player-progress-bar {
  display: inline-block;
  line-height: 50px;
  background-color: #FFF;
  height: 2px;
  margin-bottom: 3px;
  width: 100%;
}

.player-progress-bar-filled {
  margin-top: -1px;
  background-color: #FFF;
  height: 4px;
  width: 0%;
}

.player-progress-bar-knob {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #FFF;
  border-radius: 50%;
  left: 0%;
  top: -9px;
}

.player-time {
  display: inline-block;
  text-align: right;
  width: 9%;
}

/******************************************************************************/

.player-secondary-controls {
  padding: 0 25px;
}

.fa-volume-up {
  display: inline-block;
  line-height: 50px;
  margin-right: 5px;
}

.volume-bar-wrapper {
  display: inline-block;
  line-height: 50px;
  width: 80%;
}

.volume-bar {
  display: inline-block;
  line-height: 50px;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #FFF;
}

.volume-bar-filled {
  margin-top: -1px;
  background-color: #FFF;
  height: 4px;
}

.volume-bar-knob {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #FFF;
  border-radius: 50%;
  margin-left: -3px;
  top: -8px;
}

/******************************************************************************/

.left-sidebar {
  background-color: #F1F2F4;
  border-right: 1px solid rgba(0, 0, 0, .25);
  padding: 25px;
}

.menu-header {
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.menu-list {
  margin-top: 15px;
}

.menu-list ul {
  list-style-type: none;
}

.menu-list ul li{
  font-size: .9em;
  margin: 15px 0;
}

/* this is wrong, but looks okay */
.playlists {
  padding-top: 50px;
}

.playlists-header {
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.playlists-list {
  margin-top: 15px;
}

.playlists-list ul {
  list-style-type: none;
}

.playlists-list ul li{
  font-size: .9em;
  margin: 15px 0;
}

.fa-plus-circle {
  margin-top: 3px;
  color: rgba(0, 0, 0, .25);
  position: absolute;
  right: 0;
}

.main-content {
  margin-left: 250px;
}

/* encapsulate the various syntax in helper clases */
/* inspired by http://infrequently.org/2009/08/css-3-progress/ */

/* items flex/expand vertically */
.vbox {
  /* previous syntax */
  display: -webkit-box;
  display:    -moz-box;
  display:         box;

  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
          box-orient: vertical;

  /* current syntax */
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* items flex/expand horizontally */
.hbox {
  /* previous syntax */
  display: -webkit-box;
  display:    -moz-box;
  display:     -ms-box;
  display:         box;

  -webkit-box-orient: horizontal;
     -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
          box-orient: horizontal;

  /* current syntax */
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  /* previous syntax */
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-box-pack: justify;
          box-pack: justify;

  /* current syntax */
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
}


.main {
  /* previous syntax */
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-box-flex: 1;
          box-flex: 1;

  /* current syntax */
  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.disp-col {
  /* previous syntax */
  -webkit-box-flex: 5;
     -moz-box-flex: 5;
      -ms-box-flex: 5;
          box-flex: 5;

  /* current syntax */
  -webkit-flex: 5;
     -moz-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.col-years-list {
  /* previous syntax */
  -webkit-box-flex: 2;
     -moz-box-flex: 2;
      -ms-box-flex: 2;
          box-flex: 2;

  /* current syntax */
  -webkit-flex: 2;
     -moz-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.col-shows-list {
  /* previous syntax */
  -webkit-box-flex: 3;
     -moz-box-flex: 3;
      -ms-box-flex: 3;
          box-flex: 3;

  /* current syntax */
  -webkit-flex: 3;
     -moz-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }

.left-sidebar, .right-sidebar {
  flex: 3;
  overflow-y: auto;
}

.list-group-collection {
}

.list-group a, a:hover{
  color: #000;
}

.recording-list.list-group {
  border: 0;
}

body .disp-col.col-recording-list .list-group-header {
  border-right: 0;
}

.list-group {
  /*float: left;*/
  height: auto;
  /*max-height: 528px;*/
  /*overflow-x: hidden;*/
  overflow-y: auto;
  margin: 0;
  /*padding-top: 57px;*/
  border-right: 1px solid #DDD;
  flex: 1;
  position: relative;
}

body .disp-col .list-group-item {
  border-radius: 0 ;
  border-left: none ;
  border-right: none ;
  border-top: none ;

}

a.list-group-item.selected {
  color: #FF9005;
}

body .disp-col .list-group-header {
  /*position: fixed;*/
  /*width: 100%;*/
  /*z-index: 1;*/
  /*top: 210px;*/
  color: #000 !important;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 1.2em;
  background-color: #F8FAFC !important;
  /*border-color: #F1F2F4 !important;*/
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-right: 1px solid rgba(0,0,0,.10);
  margin: 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  /*margin-bottom: 50px;*/
}

.col-artists-list .list-group-item {
  padding-left: 25px;
}

.artist-list, .artist-list .list-group-header {
  /*width: 290px;*/
}

.year-list, .year-list .list-group-header {
  /*width: 100px;*/
  /*text-align: center;*/
}

.show-list, .show-list .list-group-header {
  /*width: 150px;*/
  /*text-align: center;*/
}

.recording-list, .recording-list .list-group-header {
  /*width: 400px;*/
}

.artist-list:before {
  z-index: 100;
  content: "";
  position: absolute;
  left: -15px;
  height: 100%;
  top: 0;
  width: 4px;
  background-color: #dfe0e6;
}

.right-sidebar {
  background-color: #F1F2F4;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, .25);
  padding: 25px;
}

.sources-header {
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.sources-list {
  margin-top: 15px;
}

.sources-list ul {
  list-style-type: none;
}

.sources-list ul li{
  font-size: .9em;
  margin: 15px 0;
}

/* .content-container { */
/*   width: 940px; */
/*   margin-left: 250px; */
/*   padding: 0 25px; */
/* } */
